* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica Neue', sans-serif;
    box-sizing: border-box; /* stabileste modul de dimensionare al elementelor cand folosim padding */
}

.col-50 {
    width: 50%;
    float: left;
}

 .clearfix { /* ne ajuta sa resetam proprietatea float a coloanelor */
    clear:both;
}

.container {
     max-width: 1170px; /* pentru o scalare mai usoara pe dispozitivele mobile */
    margin: 0 auto; /* centrare */
    /* border: 1px solid black; */
}



.page-header {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.project-title {
    font-size: 24px;
    color: #777777;
}

.main-nav {
    text-align: right;
}

.main-nav li {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    color: #337AB7;
}

.main-nav .selected {
    background-color: rgb(75, 129, 188);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}



.jumbotron {
    background-color: #EEEEEE;
    border-radius: 5px;
    padding: 50px 40px;
    text-align: center;
    margin:20px 0;
}

.jumbotron h1 {
    font-size: 60px;
    color: #333;
    font-weight: 400;
}

.jumbotron p {
    font-size: 20px;
    color: #333;
    margin: 20px 0;
    line-height: 1.4em;
}

.btn-success {
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    background-color: #449D44;
    color: #FFFFFF;
    font-size: 20px;
}



.text-box {
    margin: 35px 0;
}

.text-box h2 {
    font-size: 18px;
    color: #333;
    font-weight: 200;
}

.text-box p {
    color: #333;
    margin: 10px 0;
}



footer {
    color: #666;
    border-top: 1px solid #ccc;
    padding: 20px 0;
    font-weight: 200;
    font-size: 15px;
}